@zIndex: 2;

.app-frame {
    .header {
        position: fixed;
        width: 100%;
        height: 64px;
        top: 0;
        left: 0;
        line-height: 64px;
        z-index: @zIndex;
    }

    .left-menu {
        position: fixed;
        top: 64px;
        left: 0;
        bottom: 0;
        width: 15%;
        height: auto;
        overflow-y: overlay;
        background-color: rgba(221,221,221);
        transition: all .3s;
    }

    .content {
        width: 85%;
        height: auto;
        margin-left: 15%;
        padding: 80px 20px 20px;
        background-color: #fff;
        transition: all .3s;
    }
}